@keyframes showUp {
    from {
        margin-left: 30px;
        opacity: 0;
    }

    to {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes goUp {
    from {
        margin-top: 250px;
    }

    to {
        margin-top: 25px;
    }
}

@font-face {
    font-family: myFont;
    src: url(./SourceCodePro-VariableFont_wght.ttf);
}

body {
    text-align: center;
    font-family: myFont;
    background-color: whitesmoke;
    overflow: hidden;
}

h2 {
    margin-top: 250px;
}

#container {
    margin-top: 25px;
    margin-bottom: 30px;
    /* div containing default, pastel and dark buttons */
}

.content {
    display: inline-block;
        /* div containing radio buttons and labels */
}

#container input[type="radio"] {
    display: none;
}

#container input[type="radio"]:checked+label {
    background-color: rgb(222, 207, 230);
}

#container label {
    background-color: rgb(226, 226, 226);
    border: none;
    font-family: myFont;
    font-size: small;
    cursor: pointer;
    margin-left: 14.5px;
    margin-right: 14.5px;
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
    margin-top: -4px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    border: none;
    border-radius: 20px;
    background-color: rgb(218, 214, 214);
}

input[type=range]::-moz-range-track {
    height: 5px;
    border: none;
    border-radius: 20px;
    background-color: rgb(218, 214, 214);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: rgb(197, 176, 209);
    margin-top: -4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: rgb(197, 176, 209);
    margin-top: -4px;
    cursor: pointer;
}

output {
    color: rgb(163, 158, 158);
    margin-left: 2px;
    font-size: small;
}

span {
    animation: showUp 0.5s ease 0.1s 1 normal both;
    height: 350px;
    width: 8%;
    display: inline-block;
    margin: 7px;
    margin-bottom: 26px;
    box-shadow: 2px 2px 7px rgb(190, 190, 190);
    border-radius: 10px;
    /* containing the colors */
}

p {
    margin-top: 280px;
    display: inline-block;
    background-color: rgb(245, 245, 245);
    height: 35px;
    width: 100%;
    font-family: myFont;
    font-weight: bold;
    line-height: 35px;
    font-size: small;
    /* containing the hex codes */
}

input {
    margin-top: 20px;
}

#generate {
    background-color: rgb(226, 226, 226);
    border: none;
    font-family: myFont;
    font-size: medium;
    cursor: pointer;
    margin-top: 25px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    outline: none;
    transition: all 0.4s ease;
}

#generate:hover {
    background-color: rgb(222, 207, 230);
}

#generate:active {
    background-color: rgb(226, 226, 226);
}

#gHub {
    left: 0;
    top: 0;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.5;
    transition: all 0.4s ease;
}

#gHub:hover {
    opacity: 0.8;
}

.hexLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.2s ease;
}

@media screen and (max-width: 800px) {
    p {
        font-size: x-small;
    }
}

@media screen and (max-width: 500px) {
    .content {
        display: block;
        margin-top: 30px;
    }

    p {
        font-size: small;
    }

    span {
        width: 30%;
    }

    #generate {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 300px) {
    .content {
        display: block;
        margin-top: 30px;
    }

    span {
        width: 30%;
    }

    #generate {
        margin-bottom: 20px;
    }

}